.env
remove
notebooks/eotools/__pycache__
notebooks/eotools/roi.py
data/eodag-downloads/*
data/eodag-postprocess/*
data/eodag-serialize/*
data/shapefiles/*
data/*
data
requirements.txt
Makefile_old
test.ipynb
paths.yml
config/*
config
test*
setup_test.py